@charset "utf-8";
/* blog tabla formulario */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800;900&family=Oswald:wght@400;700&family=Raleway:wght@400;700;800;900&display=swap');

/* font-family: 'Mulish', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

h1 {
    font-size: 2.5em;;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}

header {
    box-shadow: 0px -10px 5px 10px rgba(0,0,0,.5);
    position: relative;
}
header>div.logo>a{
    height: 100px;
    display: inline-block;
    padding: 20px;
}

header>div.logo>a>img{
    height: 100%;
}
/* Menu */
header>nav {
    text-align: center;
    display: block;
    position: relative;
    background-color: #fff;
}

header>nav>ul{
    background-color: #272747;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

header>nav>ul>li>a{
    font-family: 'Oswald', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    position: relative;
    color: #fff;
    transition: all .2s ease;
    font-size: 1.3225em;
    text-transform: uppercase;
    font-weight: bold;
}
header>nav>ul>li>a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    /* background-color: #7f7f7f; */
    background-color: #ffb306;
    z-index: 100;
    left: 50%;
    top: 75%;
    transition: all .2s ease;
}
header>nav>ul>li{

}
header>nav>ul>li>a:hover{
    /* color: #ffb306; */
    background-color: rgba(255, 255, 255, 0.1);
    /* transform: scale(1.1,1.1); */
}

header>nav>ul>li>a:hover::after{
    width: 50%;
    left: 25%;
}
/* Hero area */
div.area-hero{
    height: calc(100vh - 145px);
}

div.area-hero>div.fondo{
    height: 100%;
    background-image: url("../images/solar-energy__opt.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

section.informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px;
}
section.informacion>div{
    width: 25%;
}

/* Servicios */
div.servicios{
    min-height: calc(100% - 351px);
}

/* Pie de página*/
footer{
    height: 150px;
    margin-top: 50px;
    background-color: #272747;
}
div.socialmedia{
    color: #fff;
    width: 20%;
}
.socialmedia>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.socialmedia>ul>li i::before {
    font-size: 2em;
    color: #fff;
}

/* Formulario de contacto */

div.formulario {
    margin: 100px 0;
}

div.formulario form{
    width: 500px;
    max-width: 100%;
    display: table;
    margin: auto;
}

div.formulario>h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

div.formulario input, div.formulario textarea{
    font-size: 1em;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    background-color: #ffb306;
}

div.formulario input[type=number] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

div.formulario input[type=checkbox] {
    width: initial;
}

div.formulario textarea {
    resize: none;
}