*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}

li,li>a {
    font-size: 1em;
}
header>nav {
    background-color: red;
    text-align: center;
}
header>nav>ul{
    /* display: inline-block; */
    background-color: seagreen;
    list-style: none;
}
header>nav>ul>li{
    /* float: left; */
    display: inline-block;
}
header>nav>ul>li>a{
    padding: 20px 50px;
    display: block;
    background-color: greenyellow;
}