@charset "utf-8";
/* blog tabla formulario */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800;900&family=Oswald:wght@400;700&family=Raleway:wght@400;700;800;900&display=swap');

/* font-family: 'Mulish', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    padding-top: 80px;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}

header {
    box-shadow: 0px -10px 5px 10px rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.logo{
    max-width: max-content;
    height: 100%;
}
header>div.logo>a{
    height: 100%;
    display: block;
    padding: 10px;
}

header>div.logo>a>img{
    height: 100%;
}
/* Menu */
header>nav {
    text-align: center;
    position: relative;
    /* background-color: #fff; */
    margin-top: 5px;
    /* width: 500px; */
}

header>nav>ul{
    /* background-color: #272747; */
    /* background-color: #fff; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
header>nav>ul>li{
    margin-right: 10px;
}
header>nav>ul>li>a{
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    padding: 5px 20px 10px 20px;
    display: block;
    text-decoration: none;
    position: relative;
    /* color: #fff; */
    color: #272747;
    transition: all .2s ease;
    font-size: 1.3225em;
    text-transform: uppercase;
    /* font-weight: bold; */
    border-radius: 20px;
    top: 0;
}
header>nav>ul>li>a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #ffb306;
    z-index: 100;
    left: 50%;
    top: 75%;
    transition: all .2s ease;
}
header>nav>ul>li>a:hover{
    /* color: #ffb306; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: #272747;
    color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
       -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    /* top: -0.3rem; */
    transform: translateY(-5px);
    position: relative;
    /* transform: scale(1.1,1.1); */
}

header>nav>ul>li>a:hover::after{
    width: 50%;
    left: 25%;
}
/* Hero area */
div.area-hero{
    height: calc(100vh - 80px);
}

div.area-hero>div.fondo{
    height: 100%;
    background-image: url("../images/solar-energy__opt.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

/* Información */

section.informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section.informacion>div{
    width: 25%;
}
section.informacion>div h2{
    margin: 20px 0;
    text-align: center;
}
section.informacion>div p, section.informacion>div li{
    margin: 10px 0;
    text-align: justify;
}

section.informacion>div.beneficios li{
    list-style: square;
}

/* Común */

div.servicios, section{
    margin-top: 100px;
}

div.formulario>h1, div.servicios>h1, section>h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-shadow:  2px 2px 3px rgba(0,0,0,0.5);
}


/* Servicios */
div.servicios{
    min-height: calc(100% - 351px);
    max-width: 1000px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

div.servicios table{
    caption-side: bottom;
    margin-top: 50px;
}

div.servicios table caption{
    font-size: 1.2em;
    font-weight: bold;
}

body div.servicios table tbody tr:first-child{
    background-color: #da7878;
}

div.servicios table tbody tr:nth-child(odd){
    background-color: #c4c4c4;
}

div.servicios table tbody tr:nth-child(even){
    background-color: #000000;
    color: #fff;
}

/* Formulario de contacto */

div.formulario {
    margin-top: 100px;
}

div.formulario form{
    width: 500px;
    max-width: 100%;
    display: table;
    margin: auto;
}

div.formulario input, div.formulario textarea{
    font-size: 1em;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    background-color: #ffb306;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

div.formulario input[type=number] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

div.formulario input[type=checkbox] {
    width: initial;
}

div.formulario textarea {
    resize: none;
    height: 200px;
}

div.formulario button{
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    background-color: #272747;
    border-style: none;
}

div.formulario button:hover{
    border: 1px solid #ffb306;
    padding: 9px 19px;
    cursor: pointer;
}

/* Blog */

section.blog{
    width: calc(100% - 200px);
    float: left;
    padding: 0px 100px;
    margin: 100px 0;
}

section.blog article{
    margin-top: 50px;
}

section.blog hr{
    margin: 10px 30px;
    border: none;
    border-top: 1px solid #eee;
}

section.blog h2 {
    color: #fff;
    margin: 20px 0;
    padding-left: 10px;
    background-color: #eee;
    /* background: linear-gradient(90deg, rgba(39,39,71,1) 0%, rgba(39,39,71,1) 20%, rgba(255,255,255,1) 100%);  */
    background: linear-gradient(90deg, rgba(60,60,60,1) 0%, rgba(60,60,60,1) 20%, rgba(255,255,255,1) 100%); 
}

section.blog p{
    margin: 10px 0;
}

section.blog+aside{
    width: 200px;
    height: 1000px;
    float: left;
    padding: 20px 10px;
    margin-top: 300px;
    color: #fff;
    background-color: #272747;
}
section.blog+aside ul{
    padding-left: 20px;
    list-style: none;
}

section.blog+aside ul li{
    margin: 10px 0;
}

section.blog+aside ul a{
    text-decoration: none;
    color: #fff;
}

/* Datos contacto */

div.datos-contacto{
    text-align: center;
}

div.datos-contacto h2{
    padding-bottom: 20px;
}

div.mapa iframe{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    margin-bottom: -100px;
}

/* Pie de página*/
footer{
    /* height: 150px; */
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #272747; */
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-around;
    clear: both;
}
footer>div{
    color: #fff;
    /* width: 20%; */
}
footer>div>span {
    font-size: 1.2em;
    font-weight: bold;
}
footer>div a{
    text-decoration: none;
    color: #fff;
}
.socialmedia>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.socialmedia>ul>li {
    font-size: 1.5em;
    color: #fff;
}
.socialmedia i{
    border-radius: 3px;
    line-height: 40px;
    width: 40px;
}
.socialmedia i[class*="fa-twitter"]{
    background-color: #00acde;
}
.socialmedia i[class*="fa-facebook"]{
    background-color: #3b599b;
}
.socialmedia i[class*="fa-whatsapp"]{
    background-color: #25d366;
}

/* Fijo */

.whatsapp{
    font-size: .7em;
    position: fixed;
    padding: 5px 1px;
    border-right: none;
    right: -128px;
    bottom: 30px;
    /* background-color: #272747; */
    background-color: #eee;
    border-radius: 25px 0 0 25px;
    border: 1px solid #ccc;
    transition: transform .2s ease;
}

.whatsapp i,.whatsapp span{
    vertical-align: middle;
}

.whatsapp span{
    font-size: 2em;
    margin-right: 5px;
    color: #000;
}

.whatsapp a {
    display: table;
    color: #25d366;
    text-decoration: none;
}

.whatsapp:hover {
    transform:translateX(-125px);
}